<h1>Collect API Data</h1>
<nav class = "navbar">
  <input class ="form-control" type="text" name="firstName" [(ngModel)]="firstName" (ngModelChange)="Search()"
  placeholder="Enter here to search">



</nav>
<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>price</th>
    <th>description</th>
    <th>category</th>
    <th>Image</th>
    <th>rating</th>
    <th>options</th>
   


  </tr>
  <tr *ngFor = "let f of users | paginate: {itemsPerPage:5,currentPage:p}">
    <td>{{f.id}}</td>
    <td>{{f.title}}</td>
    <td>{{f.price}}</td>
    <td>{{f.description}}</td>
    <td>{{f.category}}</td>
    <td>{{f.image}}</td>
    <td>{{f.rating}}</td>
    <td>{{f.options}} <button class="btn-delete"(click)="deleteProduct(f.id)">Delete</button>
                      <button class="btn-delete"(click)="update(f.id)">Update</button>
    
    </td>
    
    




  </tr>

  <pagination-controls (pageChange)="p =$event"></pagination-controls>


   
   




</table>
